{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
    }],
    "arrow-parens": "off",
    "brace-style": ["error", "stroustrup"],
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "default-case": "off",
    "function-paren-newline": "off",
    "global-require": "off",
    "implicit-arrow-linebreak": "off",
    "indent": ["error", 2, { "MemberExpression": "off", "SwitchCase": 1, "ignoreComments": true }],
    "max-len": "off",
    "no-confusing-arrow": "off",
    "no-console": "off",
    "no-constant-condition": "off",
    "no-continue": "off",
    "no-loop-func": "off",
    "no-multi-assign": "off",
    "no-nested-ternary": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-return-assign": "off",
    "no-shadow": "off",
    "no-trailing-spaces": "off",
    "no-underscore-dangle": "off",
    "no-unreachable": "warn",
    "no-use-before-define": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "padded-blocks": "off",
    "radix": "off",
    "semi": ["error", "never"],
    "space-infix-ops": "error",
    "import/no-cycle": "off"
  },
  "env": {
    "browser": true,
    "node": false
  }
}
